.facesPanel {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

img {
    max-width: 400px;
    max-height: 277px;
    margin: 0 auto;
}

span > img {
    width: 30px;
    margin: 10% 0;
}
